[user]
	name = jonahkagan
	email = jonah.kagan@getclever.com

[alias]
  st = status
  c = commit
  br = branch
  co = checkout
  df = diff
  lg = log -p

[color]
  branch = auto
  diff = auto
  status = auto

[credential]
	helper = osxkeychain

[push]
	default = simple
[hub]
	protocol = https
