[user]
	name = Jonah Kagan
	email = jonah.kagan@clever.com

[alias]
  st = status
  commit = commit -v
  c = commit -v
  br = branch
  co = checkout
  lg = log -p
  d = diff
  ds = diff --staged

[color]
  branch = auto
  diff = auto
  status = auto

[credential]
	helper = osxkeychain

[push]
	default = simple
[hub]
	protocol = ssh
[core]
	editor = vim
